:root {
  --meli-yellow: #ffe600;
  --meli-action: #3483fa;
  --dark: #333333;
  --gray: #666666;
  --gray-dark: #999999;
  --gray-light: #eeeeee;
  --white: #ffffff;
  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --size-xs: .750rem;
  --size-sm: .875rem;
  --size-md: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.5rem;
  --size-xxl: 1.625rem;
  --size-xxxl: 3rem;
  --hover-effect: brightness(0.95);
  --item-detail-image: 680px;
  --font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format("woff2"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format("woff"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf) format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2) format("woff2"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff) format("woff"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2) format("woff2"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff) format("woff"), url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.ttf) format("truetype");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}