@charset "UTF-8";
ul {
  list-style: none;
}
ul li {
  display: inline;
  color: var(--gray);
}
ul li:not(:last-child)::after {
  content: "›";
  margin: 0 var(--spacing-sm);
}
ul li:last-of-type {
  font-weight: 600;
}