@charset "UTF-8";
ul {
  list-style: none;
}
ul li {
  display: inline;
  margin-right: var(--spacing-md);
  color: var(--gray);
}
ul li:not(:last-child)::after {
  content: "›";
  margin-left: var(--spacing-md);
}
ul li:last-of-type {
  font-weight: 600;
}