header {
  background-color: var(--meli-yellow);
  padding: var(--spacing-sm);
}
header > div {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-lg);
}
header .meli-logo {
  display: flex;
}